.flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 }
.flex-1 {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  width: 20%;               /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/*  盒模型垂直布局  */
.flex-v{ 
    -webkit-box-orient:vertical; 
    -webkit-flex-direction:column; 
    -ms-flex-direction:column; 
    flex-direction:column; 
}
/*  水平布局下的子元素-水平居中  */    
.flex-h-hcenter{ 
    -webkit-box-pack:center; 
    -webkit-justify-content:center; 
    -ms-flex-pack:center; 
    justify-content:center; 
}
/*  水平布局下的子元素-垂直居中  */
.flex-h-vcenter{ 
    -webkit-box-align:center; 
    -webkit-align-items:center; 
    -ms-flex-align:center; 
    align-items:center; 
}

/* css document */
html,body {width:100%; height:1vh;background-color:#010103;}
body{overflow:hidden; font-family:"helvetica neue", helvetica, STHeiTi, roboto, "droid sans", arial;margin: 0;}

.main .bg {height: 500px;position: relative;overflow: hidden;top:50%;-webkit-transform: translate3d(0px, -50%, 0px);}
.main .bg-o-l {background: url(../img/bg-o-l.jpg) repeat-x 0 0;background-size: auto 500px;}
.main .bg-o-r {background: url(../img/bg-o-r.jpg) repeat-x 0 0;background-size: auto 500px;}
.main .bg-u-l {background: url(../img/bg-u-l.jpg) repeat-x 0 0;background-size: auto 500px;}
.main .bg-u-r {background: url(../img/bg-u-r.jpg) repeat-x 0 0;background-size: auto 500px;}


/*.main,.main-l,.mian-r,.bg {height: 100%;}*/
.main-l,.main-r {overflow: hidden;height: 100vh;}


.data-wrap {position: absolute;left: 10px;top:10px;color: #FFF;}

/*竖屏*/
.help {position: fixed;width: 100%;height: 100vh;left: 0;top: 0;background: #FFF;color:#000;font-size: 24px;font-size:14px;}
@media all and (orientation : landscape) { 
  .help-wrap {display: none;}
}